# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

some of the key takeaways from the course

**objectives**

1. Create a Jupyter Notebook
2. Insert code and markdown cells
3. Share your notebook through GitHub

items covered in this notebook
- Python
- R
- SQL 
- Java 
- Julia

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL 
4. Java 
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow 
2. Keras
3. Pandas 
4. NumPy
5. Matplotlib

| Open source Tools     | Data Science Tools    | 
| --------------------- |:---------------------:| 
| Data Mining           | Pandas                | 
| Data Analysis         | Hadoop                | 
| Data Visualization    | Ggplot 2              |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [7]:
m = 200
h = 60
print(m/h)

3.3333333333333335

## BAMBA Ibrahim
Author